<%- include('./partials/head', { title: 'Error', css_file: 'style.css' }) %>

<div style="padding: 2rem;">
    <h1><%= message %></h1>
    <h2><%= typeof error !== 'undefined' && error.status ? error.status : '' %></h2>
    <pre><%= typeof error !== 'undefined' && error.stack ? error.stack : '' %></pre>
</div>

<%- include('./partials/foot') %>
